/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Times New Roman", Times, serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  font-size: 1.8rem;
}
header {
  display: flex;
  background-image: -webkit-linear-gradient(#22bcb9, white);
  background-image: -o-linear-gradient(#22bcb9, white);
  background-image: linear-gradient(#22bcb9, white);
  border-bottom: 2px solid black;
  height: 140px;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    position: static;
    height: 100%;
  }
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    position: static;
    height: 100%;
  }
}
header img {
  height: 60px;
  padding-left: 0;
  padding-top: 0;
  margin-left: 1%;
  margin-top: 10px;
}
@media (max-width: 800px) {
  header img {
    height: 60px;
    align-self: center;
  }
}
header nav {
  padding-top: 110px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
}
@media (max-width: 800px) {
  header nav {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
}
header nav a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
}
header nav a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
@media (max-width: 800px) {
  header nav a:hover {
    transform: scale(1.05);
  }
}
@media (max-width: 800px) {
  header nav a {
    font-size: 2.3rem;
  }
}
@media (max-width: 500px) {
  header nav a {
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px dashed black;
  }
}
header button {
  width: 110px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 3%;
  font-size: 1.6rem;
  background: #22bcb9;
}
header button:hover {
  color: #22bcb9;
  background-color: black;
}
@media (max-width: 800px) {
  header button {
    align-self: center;
    width: 70%;
    height: 60px;
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  header button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 70px;
    background-color: #22bcb9;
    font-size: 3rem;
    margin-left: 0;
  }
}
footer {
  display: flex;
  background-image: -webkit-linear-gradient(white, #22bcb9);
  background-image: -o-linear-gradient(white, #22bcb9);
  background-image: linear-gradient(white, #22bcb9);
  height: 140px;
  padding-top: 20px;
  margin-top: 50px;
  border-top: 2px solid black;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    height: 100%;
  }
}
footer img {
  height: 60px;
  padding-left: 5%;
}
@media (max-width: 800px) {
  footer img {
    display: none;
  }
}
@media (max-width: 500px) {
  footer img {
    display: none;
  }
}
footer p {
  padding-left: 10%;
  padding-top: 50px;
}
@media (max-width: 800px) {
  footer p {
    font-size: 2.3rem;
    padding-left: 10%;
  }
}
@media (max-width: 500px) {
  footer p {
    order: 2;
    font-size: 2.6rem;
    padding-left: 12%;
  }
}
footer a {
  text-decoration: none;
  font-size: 1.6rem;
  padding-left: 20%;
  margin-top: 50px;
  color: black;
}
@media (max-width: 800px) {
  footer a {
    font-size: 2.3rem;
  }
}
@media (max-width: 500px) {
  footer a {
    order: 1;
    font-size: 2.6rem;
    padding-right: 20%;
    padding-bottom: 20px;
    text-align: center;
  }
}
footer a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
html {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}
.container .person {
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .container .person {
    padding-top: 100px;
  }
}
.container .person img {
  width: 200px;
  height: auto;
  margin-left: 15%;
}
.container .person h2 {
  margin-left: 15%;
  padding-top: 10px;
}
.container .person h4 {
  margin-left: 15%;
}
@media (max-width: 500px) {
  .container .person {
    flex-direction: column;
    margin-left: 10%;
  }
}
.container .person .boxPerson {
  width: 31%;
  margin-top: 30px;
  margin-left: 1%;
  margin-right: 1%;
  height: 400px;
}
.container .person .boxPerson img {
  height: 270px;
  width: auto;
}
.container .person .boxPerson .github {
  height: 40px;
}
@media (max-width: 900px) {
  .container .person .boxPerson {
    width: 46%;
  }
}
@media (max-width: 800px) {
  .container .person .boxPerson {
    width: 40%;
    margin-left: 3%;
  }
}
@media (max-width: 700px) {
  .container .person .boxPerson {
    width: 98%;
  }
}
@media (max-width: 500px) {
  .container .person .boxPerson {
    width: 98%;
    margin-top: 15px;
    margin-left: 1%;
  }
}
.container img {
  width: 100%;
  height: 100%;
}
.container .imageWording {
  margin-left: 25%;
  margin-top: -50px;
}
@media (max-width: 800px) {
  .container .imageWording {
    margin-left: 8%;
    font-size: 2.5rem;
    margin-top: -30px;
  }
}
@media (max-width: 500px) {
  .container .imageWording {
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 0;
  }
}
.container .about {
  display: flex;
  padding-top: 220px;
  padding-left: 1%;
  padding-bottom: 80px;
}
@media (max-width: 800px) {
  .container .about {
    padding-top: 80px;
    padding-left: 1%;
  }
}
@media (max-width: 500px) {
  .container .about {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 2%;
  }
}
.container .about .aboutSection {
  width: 45%;
  padding-top: 40px;
  padding-right: 4%;
}
@media (max-width: 800px) {
  .container .about .aboutSection {
    padding-top: 15px;
  }
}
@media (max-width: 500px) {
  .container .about .aboutSection {
    width: 98%;
    padding-top: 30px;
    padding-left: 1%;
    padding-right: 1%;
  }
}
.container .about .aboutSection h2 {
  padding-left: 10%;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .container .about .aboutSection h2 {
    padding-left: 40%;
  }
}
.container .about .aboutSection p {
  line-height: 3rem;
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  .container .about .aboutSection p {
    font-size: 2.1rem;
  }
}
@media (max-width: 500px) {
  .container .about .aboutSection p {
    font-size: 2.6rem;
    line-height: 4rem;
  }
}
.container .about .aboutSection button {
  width: 120px;
  height: 50px;
  background-color: #22bcb9;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1.6rem;
  margin-left: 30%;
}
.container .about .aboutSection button:hover {
  background-color: black;
  color: #22bcb9;
}
@media (max-width: 800px) {
  .container .about .aboutSection button {
    width: 200px;
    margin-left: 10%;
    font-size: 2.6rem;
  }
}
@media (max-width: 500px) {
  .container .about .aboutSection button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 70px;
    background-color: #22bcb9;
    font-size: 3rem;
    margin-bottom: 40px;
  }
}
.container .about img {
  width: 53%;
  height: 400px;
  border-radius: 20px;
  border: 1px solid black;
}
@media (max-width: 800px) {
  .container .about img {
    width: 57%;
  }
}
@media (max-width: 500px) {
  .container .about img {
    width: 98%;
    margin-left: 1%;
  }
}
.container .personal {
  border-top: 1px dashed black;
  padding-top: 100px;
  display: flex;
  padding-bottom: 80px;
}
@media (max-width: 800px) {
  .container .personal {
    padding-top: 80px;
  }
}
@media (max-width: 500px) {
  .container .personal {
    flex-direction: column;
  }
}
.container .personal .personalSection {
  width: 49%;
  padding-left: 4%;
}
@media (max-width: 800px) {
  .container .personal .personalSection {
    width: 43%;
    padding-left: 2%;
  }
}
@media (max-width: 500px) {
  .container .personal .personalSection {
    width: 98%;
  }
}
.container .personal .personalSection h2 {
  padding-left: 10%;
  padding-bottom: 20px;
  padding-top: 30px;
}
@media (max-width: 800px) {
  .container .personal .personalSection h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .container .personal .personalSection h2 {
    margin-left: 10%;
  }
}
.container .personal .personalSection p {
  line-height: 3rem;
}
@media (max-width: 800px) {
  .container .personal .personalSection p {
    font-size: 2.1rem;
  }
}
@media (max-width: 500px) {
  .container .personal .personalSection p {
    line-height: 4rem;
    font-size: 2.6rem;
  }
}
.container .personal img {
  width: 49%;
  order: -1;
  height: 400px;
  margin-left: 1%;
  border-radius: 30px;
  border: 1px solid black;
}
@media (max-width: 800px) {
  .container .personal img {
    width: 56%;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .container .personal img {
    width: 98%;
    order: 1;
  }
}
.container .personal button {
  width: 120px;
  height: 50px;
  background-color: #22bcb9;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1.6rem;
  margin-left: 30%;
  margin-top: 20px;
}
.container .personal button:hover {
  background-color: black;
  color: #22bcb9;
}
@media (max-width: 800px) {
  .container .personal button {
    width: 200px;
    margin-left: 10%;
    font-size: 2.6rem;
  }
}
@media (max-width: 500px) {
  .container .personal button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 70px;
    background-color: #22bcb9;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.container .health {
  border-top: 1px dashed black;
  padding-top: 80px;
  display: flex;
}
@media (max-width: 800px) {
  .container .health {
    padding-top: 60px;
  }
}
@media (max-width: 500px) {
  .container .health {
    flex-direction: column;
  }
}
.container .health .healthSection {
  width: 45%;
  padding-left: 1%;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .container .health .healthSection {
    width: 98%;
  }
}
.container .health .healthSection h2 {
  padding-top: 50px;
  padding-left: 10%;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .container .health .healthSection h2 {
    padding-top: 20px;
  }
}
@media (max-width: 500px) {
  .container .health .healthSection h2 {
    padding-left: 20%;
  }
}
.container .health .healthSection p {
  line-height: 3rem;
}
@media (max-width: 800px) {
  .container .health .healthSection p {
    font-size: 2.1rem;
  }
}
@media (max-width: 500px) {
  .container .health .healthSection p {
    line-height: 4rem;
    font-size: 2.6rem;
    padding-left: 2%;
  }
}
.container .health .healthSection button {
  width: 120px;
  height: 50px;
  background-color: #22bcb9;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 1.6rem;
  margin-left: 25%;
  margin-top: 30px;
}
.container .health .healthSection button:hover {
  background-color: black;
  color: #22bcb9;
}
@media (max-width: 800px) {
  .container .health .healthSection button {
    width: 200px;
    font-size: 2.6rem;
  }
}
@media (max-width: 500px) {
  .container .health .healthSection button {
    margin-left: 10%;
    margin-bottom: 20px;
    width: 80%;
    height: 70px;
    background-color: #22bcb9;
    font-size: 3rem;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.container .health img {
  width: 53%;
  height: 400px;
  border-radius: 30px;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .container .health img {
    width: 97%;
    margin-left: 2%;
    padding-left: 0;
  }
}
.container .box {
  margin-top: 70px;
  border: 1px solid black;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
@media (max-width: 500px) {
  .container .box {
    display: none;
  }
}
.container .box .menu {
  display: flex;
  flex-wrap: wrap;
}
.container .box .menu .tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container .box .menu .tabs p {
    font-size: 2.3rem;
  }
}
.container .box .menu .oneItem {
  border-bottom: 1px solid black;
  padding: 30px;
  padding-left: 5%;
  background-image: linear-gradient(#22bcb9, white);
}
.container .box .menu .oneItemColorChange {
  border-bottom: 1px solid black;
  padding: 30px;
  padding-left: 5%;
  background-color: #22bcb9;
}
.container .box .hidden {
  display: none;
}
.container .box .adultschedule {
  height: 700px;
}
.container .box .childrenschedule {
  height: 700px;
}
.container .box .catchupschedule {
  height: 700px;
}
