
html {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container{
  .about{
    display: flex;
    padding-top: 220px;
    padding-left: 1%;
    border: 1px solid red;
    .aboutSection {
      width: 49%;
      border: 1px solid red;
    }
    img {
      width: 49%;
      height: 400px;
    }
  }
  .personal{
    
  }
}
