header{
  display: flex;
background-image: -webkit-linear-gradient(@color, white);
background-image: -o-linear-gradient(@color, white);
background-image: linear-gradient(@color, white);
  border-bottom: 2px solid black;
  height: 140px;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  @media @tablet {
    flex-direction: column;
    position: static;
    height: 100%;
  }

  @media @mobile {
    flex-direction: column;
    position: static;
    height: 100%;
  }
  img {
    height: 60px;
    padding-left: 0;
    padding-top: 0;
    margin-left: 1%;
    margin-top: 10px;
    @media @tablet {
      height: 60px;
      align-self: center;
    }
  }
  nav{
    padding-top: 110px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    @media @tablet {
      width: 100%;
      padding-left: 1%;
      padding-right: 1%;
      padding-top: 40px;
      padding-bottom: 20px;
    }
    @media @mobile {
      flex-direction: column;
      padding-top: 20px;
      text-align: center;
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }

    a {
      text-decoration: none;
      font-size: 1.8rem;
      color: black;
      &:hover {
        transform: scale(1.2);
        text-decoration: underline;
        @media @tablet {
          transform: scale(1.05);
        }
      }
      @media @tablet {
        font-size: 2.3rem;
      }
      @media @mobile {
        font-size: 3rem;
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px dashed black;
      }


    }
  }
  button {
      width: 110px;
      height: 40px;
      border-radius: 15px;
      border: 1px solid black;
      margin-top: 30px;
      margin-left: 3%;
      font-size: 1.6rem;
      background: purple; //@color
      &:hover {
        color: @color;
        background-color: black;
      }
      @media @tablet {
        align-self: center;
        width: 70%;
        height: 60px;
        font-size: 2.4rem;
        margin-bottom: 40px;
      }
      @media @mobile {
        .button-mobile();
        margin-left: 0;
      }
    }

}
